<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>REV 76</title>

    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/app/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/app/css/creative.css" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Revolution 1776</h1>
            <hr>
            <p>But when a long train of abuses and usurpations, pursuing invariably the same Object<br> evinces a design to reduce them under absolute Despotism, it is their right, it is their duty, to throw off such Government, and to provide new Guards for their future security. </p>
        </div>
    </div>
</header>

<div ui-view></div>


<!-- jQuery -->
<script src="/vendor/jquery/dist/jquery.js"></script>
<script src="/vendor/angular/angular.min.js"></script>
<script src="/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/app/js/scrollreveal.min.js"></script>
<script src="/app/js/jquery.easing.min.js"></script>
<script src="/app/js/jquery.fittext.js"></script>
<script src="/app/js/jquery.magnific-popup.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/app/js/creative.js"></script>
<script src="app.js"></script>

</body>

</html>
